wFarmaWeb/Service References/srvFarmaWeb/srvFarmaWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31105/srvFarmaWeb.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/dllFarmaWeb.Medicamentos" />
  <xs:import schemaLocation="http://localhost:31105/srvFarmaWeb.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/wcfFarmaWeb.Message" />
  <xs:element name="GetTblTipoInfoXIdEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parIdEstado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblTipoInfoXIdEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTblTipoInfoXIdEstadoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInfoParamMedica">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/dllFarmaWeb.Medicamentos" minOccurs="0" name="parObjInfoParamMedica" nillable="true" type="q1:clMedInfoParamMedica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInfoParamMedicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcfFarmaWeb.Message" minOccurs="0" name="GuardarInfoParamMedicaResult" nillable="true" type="q2:clObjMsjRS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarInfoParamMedicaXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parIdInfoPMed" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarInfoParamMedicaXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/dllFarmaWeb.Medicamentos" minOccurs="0" name="CargarInfoParamMedicaXIdResult" nillable="true" type="q3:clMedInfoParamMedica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblEstado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTblEstadoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblInfoParamMedXIdTipoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parIdTipoInfo" type="xs:int" />
        <xs:element minOccurs="0" name="parIdEstado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblInfoParamMedXIdTipoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTblInfoParamMedXIdTipoInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInfoMedicamentoXId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/dllFarmaWeb.Medicamentos" minOccurs="0" name="parObjMedicamento" nillable="true" type="q4:clMedMedicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarInfoMedicamentoXIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/wcfFarmaWeb.Message" minOccurs="0" name="GuardarInfoMedicamentoXIdResult" nillable="true" type="q5:clObjMsjRS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblMedicamentoXStrNom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parStrNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parIdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTblMedicamentoXStrNomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTblMedicamentoXStrNomResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarInfoMedciamentoXIdMed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parIdMedicamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarInfoMedciamentoXIdMedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/dllFarmaWeb.Medicamentos" minOccurs="0" name="CargarInfoMedciamentoXIdMedResult" nillable="true" type="q6:clMedMedicamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>