wFarmaWeb/Service References/srvFarmaWeb/srvFarmaWeb4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfFarmaWeb.Message" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfFarmaWeb.Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clObjMsjRS">
    <xs:sequence>
      <xs:element minOccurs="0" name="pIdRel" type="xs:int" />
      <xs:element minOccurs="0" name="pStrMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clObjMsjRS" nillable="true" type="tns:clObjMsjRS" />
</xs:schema>